@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

.fa-search
{
  color: white;
  font-size: 14pt;
}

#topo { min-height: 100px;
        background-color: #204d74;
        color: #fff;
        width: 100%;
        margin-top: 0px;
      }

#opcoes {height: 51px; background-color: #5c5c5c;}

#barra {margin-left: 23%; margin-right: 5%;}

#rodape {min-height: 150px;
         background-color: #204d74;  
         color: #fff; 
         padding-top:30px;}  

#subopcoes {margin-left: 2%; display: flex;}

.input
{
  margin-top: 5px;
  margin-left: 75%;
  margin-right: 0%;
  border-radius: 5px 0px 0px 5px;
  border: 0.3px;
  height: 34px;
  padding-left: 1%;
  width: 110px;
}

.button
{
  background-color: #3d3d3d00;
  margin-top: 5px;
  border-radius: 0px 5px 5px 0px;
  width: 41px;
  height: 36px;
  border: 1px  solid rgb(47, 157, 85);
  padding-left: 3px;
}

.button:hover
{
  background-color: rgba(47, 157, 86, 0.295);
  border: 0.5px solid rgba(47, 157, 86, 0.295);
}

.ico
{
  margin-top: 0.3%;
  /*border: 1px solid black;*/
  height: 28px;
  width: 8%;
  padding-top: 1%;
  padding-left: 1%;
}

.ico:hover
{
  background-color: black;
  color: yellow;
  border-radius: 3px;
}

.prd1
    {
      border-radius: 13px;
      height: 390px;
      box-shadow:6px 6px 10px #adadad;
      width: 280px;
      margin-left: 6%;
      background-color:rgb(231, 225, 225);
      text-align: center;
      font-family: Arial;
      margin-bottom: 15px;
    }

.prd1 a:link
{
  text-decoration: none;
}  

.prd1:hover{background-color:  rgb(182, 200, 204);}

.preco {color: #FF6347;}

.imgs {  padding-left: 1.5px; 
        border-radius: 15px 15px 15px 15px;
        height: 59%; width: 80%; margin-top: 10%;} 

.container {display: flex; flex-wrap: wrap; 
	          align-content: stretch;
	          margin-top: 2%;}	    
    
.title {background-color: black; color: white; height: 30px;
        border-radius: 5px 5px 0px 0px;}

.inf-text {margin-left: 6%;}