/*Referente a div da foto da camisa*/
.foto-prd 
{
  display: flex;
  align-items: center;
  justify-content: center;  
  margin-left: 8%; 
  border: 1px solid rgb(119, 116, 116, 0.411); 
  border-radius: 5px; 
  height: 480px; width: 400px; 
  box-shadow: 5px 5px 0px 0px rgba(124, 123, 123,0.411);
  margin-right: 11%;
}

/*div da div de pagamento e compra*/         
.pagmenos { width: 280px; height: 130px; margin-left: 14%;}

/*referente a cimasa degrade*/
.produtos 
{
   width:300px; height:420px;  
   border-radius: 5px;
}

.div-pagmenos 
{
   border: 1px solid rgba(119, 116, 116, 0.411); 
   border-radius: 15px; 
   height: 210px; width: 400px; 
   box-shadow: 7px 7px 0px 0px rgba(124, 123, 123, 0.5);     
}
     
.btn 
{
  border-radius: 5px; 
  background-color: rgb(47, 158, 53); 
  width: 110px;
  height: 48px;
}

.btn a
{
  color: aliceblue;
}

.btn a:link
{
  text-decoration: none;
  font: normal 16pt Arial;
  color: aliceblue;
} 

.preco-compra
{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

.preco-compra h1
{
   font-size: 18pt;
   margin-right: 39%;
}

.descricao-prd {max-width: 450px; }

.mais-img 
{
  margin-left: 7%; 
}

.mini-img 
{
  width: 180px;
  height: 180px;
  border-radius: 5px;
}

.mais-img2 
{
  display: flex;
  align-items: center;
  justify-content: center; 
  border: 1px solid rgba(124, 123, 123, 0.411);
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-left: 2%;
}

.section-2
{
  margin-left: 16%; 
  display: flex; 
  flex-wrap: wrap;
  margin-bottom: 3%;
}

.section-3
{
  margin-left: 20%; 
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
}

/*@media (min-width: 911px)
{
#menu {margin-left: -18.5%; width: 20%; margin-right: 1.0%;}
}*/

/*Media para alinhamentos das div da pagina apos minimização da janela*/
/*@media(max-width: 910px)
{
#menu {width: 60%; align-items: center; margin-left: 12%; padding: 10px;}
.div-pagmenos {margin-left: 0%; margin-bottom: 36%;}
.produtos {margin-left: 6%;}
}*/