.grid 
{   display: flex; flex-wrap: wrap; 
    align-content: stretch;
    margin-top: 2%;
    justify-content: center;
    width: 90%;
    margin-left: 2%;
}	  

.img 
{   padding-left: 1.5px; 
    border-radius: 15px 15px 15px 15px;
    height: 79%; width: 80%; margin-top: 10%;
}

.prd
{
    border-radius: 13px;
    height: 350px;
    box-shadow:6px 6px 10px #adadad;
    width: 280px;
    margin-left: 6%;
    background-color:rgb(231, 225, 225);
    text-align: center;
    font-family: Arial;
    margin-bottom: 15px;
}

.prd:hover{background-color:  rgb(182, 200, 204);}

.sub-div
{
   height: 39px;
   border-radius: 0px 0px 13px 13px;
   background-color: #204d74;
   color: white;
   margin-bottom: 15px;
}

.sub-div h3
{
    margin-top: 2%;
}
