#menu {
		min-width: 15%; margin-left: 3%; margin-right: 0.5%;
		margin-top: 1%; padding: 0;
		float: left;			
	  }

#menu ul li {
		margin: 0; padding: 0px;
		border-bottom: 1px solid #CCC;
		text-align: left;
		list-style-type: none;
		font-family: 1002%;		
		}

#menu a:link {
		background: white;
		color: rgb(41, 40, 40);
		font-weight: bold;
		text-decoration: none;
		padding: 8px;
		display: block;		
		}

#menu a
{
	color: rgb(41, 40, 40);
}		

#menu a:hover {
		background: rgb(70, 69, 69);
		color: rgb(231, 228, 16);
		}

