#navbar
{
  list-style-type: none;
  font-size: 14pt;
  margin-top: 0.5%;
  display: flex;
  flex-direction: row;
  width: 35%;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
}

#navbar ul li
{
    text-align: center;
    border-bottom: 1px solid rgb(211, 24, 24);
}

#navbar i
{
    padding-right: 15px;
}

#navbar a:hover {
    background: rgb(0, 0, 0);
    color: rgb(231, 228, 16);
    }
