#navbar
{
  list-style-type: none;
  font-size: 14pt;
  margin-top: 0.2%;
  display: flex;
  flex-direction: row;
  width: 35%;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
}

#navbar a:link
{
  text-decoration: black none;
}

#navbar i
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    color: black;
}

label[for="bt_menu"] 
{
    padding: 5px;
    background-color: #222;
    color: #fff;
    font-family: 'Arial';
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 40px;
    display: none;
}
    
#bt_menu 
{
  display: none;
}

#navbar i:hover 
{
    background: rgb(20, 20, 20);
    color: rgb(216, 213, 56);
}

.menu-nav
{
  display: flex;
  width: 70%;
  height: 50px;
}

.section
{
  display: flex; 
  flex-direction: row; 
  margin-left: 50%;
}

@media(max-width: 800px)
{
   .section
   {
     margin-left: 1%;
   }

   #navbar
   {
     display: flex;
     flex-direction: column;
   }

   #navbar i
   {
     /*padding-left: 58px;
     padding-right: 88px;*/
    width: 140px;
    justify-content: left;
    border: 1px solid black;
    margin-left: -70%;
   }

  #subopcoes
  {
    margin-left: 0%;
    display: flex;
    flex-direction: column;
  }

  label[for="bt_menu"] 
  {
    display: block;
  }

  #bt_menu:checked ~ .menu-nav 
  {
    margin-left: 0;
  }

  .menu-nav 
  {
    max-width: 160px;
    height: 250px;
    background-color: rgb(53, 111, 158);
    margin-top: 5px;
    margin-left: -100%;
    transition: all .4s;
    flex-direction: column;
  }
 
 .menu-nav ul li 
  {
    text-align: left;
  }

 .input
 {
  width: 65%;
  margin-left: 3%;
 }

}