#navbar
{
  list-style-type: none;
  font-size: 14pt;
  margin-top: 0.2%;
  display: flex;
  flex-direction: row;
  width: 35%;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
}

#navbar a:link
{
  text-decoration: black none;
}

#navbar i
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    color: black;
}

#navbar i:hover {
    background: rgb(20, 20, 20);
    color: rgb(216, 213, 56);
    }
